<%- include("header") -%>
<h2>this is about the page of to do list</h2>
<p>iam the greates of all time and i am doint this work with no profit i dont know why </p>
<%- include("footer") -%>

<!-- this is called as layouts -->